body {
  background-color:Black;
  font-family: Arial, Helvetica, sans-serif;
  margin-left:auto;
  margin-right:auto;
}
span {
  display: inline-block;
}
.barContainer {
  width: 90%;
  margin-left:auto;
  margin-right:auto;
  border-collapse:collapse;
  text-align: center;
}
.meterCaption {
  width:18%;
  text-align:center;
  color:gray;
}
#meterLeft, #meterLeft2 {
  width: 40%;
  height: 100%;
  text-align: right;
  vertical-align: middle;
}
#meterRight, #meterRight2 {
  width: 40%;
  height: 100%;
  text-align: left;
  vertical-align: middle;
}
#meterLeft img, #meterLeft2 img, #meterRight img, #meterRight2 img {
  width: 8%;
}
#meterMiddle, #meterMiddle2 {
  width: 8%;
  height: 100%;
  text-align:center;
  vertical-align: middle;
}
#meterMiddle img, #meterMiddle2 img {
  width: 96%;
}
.cardTable {
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  border-collapse:collapse;
}
.cardRow {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}
.card1 {
  width: 12%;
  text-align:center;
  margin:auto;
  background-color:black;
}
.card1 img {
  width: 100%;
}
.card2 {
  height: 90%;
  text-align:center;
  margin:auto;
  background-color:black;
}
.card2 img{
  height: 100%;
}
/*Either of the two synchronized divisions gets to show, judged by the media spec.*/
@media screen and (orientation: landscape) {
  .vrtc {
    display:none;
  }
  .hrzt {
    width:96%;
    margin-left:auto;
    margin-right:auto;
    background-color:black;
  }
  .barContainer {
    height:5.8vh;
  }
  .meterCaption {
    font-size:2vw;
  }
  .cardRow {
    width: 100%;
  }
}
@media screen and (orientation: portrait) {
  .hrzt {
    display:none;
  }
  .vrtc {
    width: 96%;
    margin-left:auto;
    margin-right:auto;
    background-color:black;
  }
  .barContainer {
    width: 90%;
    height: 2.5vh;
  }
  .meterCaption {
    font-size:1.5vh;
  }
  .cardRow {
    width: 100%;
    height: 16vh;
  }
}
