body {
  text-align: center;
  background-color: rgb(212,255,255);
  /* font-family: Arial, Helvetica, sans-serif; */
}
h1 {
  font-size: 3vw;
}
.LVBtn {
  display: inline-block;
  background-color: MediumTurquoise;
  width: 9vw;
  border: 2px solid grey;
  font-size: 3vw;
}
#matrix {
  display: table;
  text-align: center;
  margin: auto;
}
.row {
  display: table-row;
  margin: auto;
}
.cellContainer {
  display: table-cell;
}
.cell {
  display: table-column;
  width: 6vw;
  height: 6vw;
  text-align: center;
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 4.5vw;
  border: 1px solid lightgrey;
  background-color: rgba(255, 255, 255, 0);
}
#footer {
  display: inline-block;
  margin: auto;
  width: 90%;
  font-size: 3vw;
  text-align: center;
}
/* @media screen and (min-width: 768px) {
  .cell {
    width: 9vw;
    height: 9vw;
    font-size: 5vw;
  }
  #footer {
    font-size: 2vw;
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 2vw;
  }
  .LVBtn {
    width: 9vw;
    border: 2px outset grey;
    font-size: 2vw;
  }
  #matrix {
    width: 75vw;
  }
  .cell {
    width: 7.5vw;
    height: 7.5vw;
    font-size: 3vw;
  }
  #footer {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 1.5vw;
  }
  .LVBtn {
    width: 6.6vw;
    border: 2px outset grey;
    font-size: 1.5vw;
  }
  #matrix {
    width: 60vw;
  }
  .cell {
    width: 5.3vw;
    height: 5.3vw;
    font-size: 2.5vw;
  }
  #footer {
    font-size: 1.5vw;
  }
} */
