body {
  background-color: rgb(212,255,255);
}
header {
  text-align: center;
}
#title {
  font-weight: bold;
  font-size: 4vw;
  color: blue;
}
nav {
  text-align: center;
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
}
nav span {
  display: inline-block;
  color: black;
  background-color: lightgray;
  border: 3px outset white;
  cursor: default;
}
#tip {
  font-size:2vw;
  color: green;
}
#display {
  background-color: rgb(212,255,255);
  padding: 6px 18px;
  align: left;
}
#head, #tail, #trans {
  background-color: rgb(212,255,255);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vw;
}
#status {
  text-align: center;
}
#comment {
  color: red;
  font-size: 3vw;
}
#next {
  font-size:2vw;
}
.word {
  background-color: white;
  border: 2px outset lightgray;
  margin: 6px 3px;
  padding: 4px 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vw;
  cursor: move;
}
@media screen and (max-width: 1199px) {
  body {
    background-color: rgb(212,255,255);
  }
  header {
    text-align: center;
  }
  #title {
    font-weight: bold;
    font-size: 6vw;
    color: blue;
  }
  nav {
    font-size: 3vw;
  }
  #tip {
    font-size:3vw;
    color: green;
  }
  #display {
    background-color: rgb(212,255,255);
    padding: 6px 18px;
    align: left;
  }
  #head, #tail, #trans {
    background-color: rgb(212,255,255);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
  }
  #status {
    text-align: center;
  }
  #comment {
    color: red;
    font-size: 4vw;
  }
  #next {
    font-size:3vw;
  }
  .word {
    background-color: white;
    border: 2px outset lightgray;
    margin: 6px 3px;
    padding: 4px 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    cursor: move;
  }
}
@media screen and (max-width: 767px) {
  body {
    background-color: rgb(212,255,255);
  }
  header {
    text-align: center;
  }
  #title {
    font-weight: bold;
    font-size: 8vw;
    color: blue;
  }
  nav {
    font-size: 4vw;
  }
  #tip {
    font-size:4vw;
    color: green;
  }
  #display {
    background-color: rgb(212,255,255);
    padding: 6px 18px;
    align: left;
  }
  #head, #tail, #trans {
    background-color: rgb(212,255,255);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vw;
  }
  #status {
    text-align: center;
  }
  #comment {
    color: red;
    font-size: 8vw;
  }
  #next {
    font-size:6vw;
  }
  .word {
    background-color: white;
    border: 2px outset lightgray;
    margin: 4px 2px;
    padding: 2px 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vw;
    cursor: move;
  }
}
