#pageTitle {
font-size: 4em;
align: center;
}
.drpDwnBtn {
  width: 100%;
  font-size: 2em;
  text-align: center;
  background-color: cyan;
  border: 2px outset white;
  padding: 5px;
  display: block;
}
table {
  width: 100%;
}
tr {
  height: 150px;
}
.itemText {
  padding: 5px 20px;
}
td .itemTitle {
  font-size: 2em;
  color: blue;
  margin-bottom: 5px;
}
td .itemDetail {
  margin-top: 0px;
  font-size: 1.5em;
  color: green;
}
.itemPic {
  width: 150px;
  height: 150px;
}
img {
  width: 100%;
  border: 5px outset white;
}
