body {
  background-color: rgb(212,255,255);
}
#pageTitle {
font-size: 5vw;
font-weight: bold;
color: blue;
text-align: center;
}
#catCon {
  background-color: rgb(212,255,255);
  border: 3px outset White;
  width: 15%;
  font-size: 2vw;
}
.drpDwnBtn {
  width: 100%;
  font-size: 3vw;
  text-align: center;
  border: 2px outset white;
  padding: 5px;
  display: block;
}
#Btn1 {
  background-color: rgb(178,255,212);
}
#Btn2 {
  background-color: rgb(255,212,178);
}
table {
  width: 100%;
}
tr {
  height: 150px;
}
.itemText {
  padding: 0px 20px;
}
td .itemTitle {
  font-size: 4vw;
  color: blue;
  margin-top: 5px;
  margin-bottom: 5px;
}
td .itemDetail {
  margin-top: 0px;
  font-size: 3.5vw;
  color: green;
}
.itemPic {
  width: 15%;
}
img {
  width: 100%;
  border: 5px outset white;
}
