body {
  background-color:rgb(168,240,247);
}
#menuBar {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: LightSteelBlue;
  font-size: 1.2vw;
  font-family: Arial, Helvetica, sans-serif;
}
#menuBarTop {
  padding-left: 10%;
}
#menuBar select, #menuBar button {
  font-size: 1.2vw;
  font-family: Arial, Helvetica, sans-serif;
}
#partOneBtn, #partTwoBtn {
  width: 25%;
  background-color: LightGray;
  border: 3px outset White;
}
#trans {
  margin-left: 30px;
  height: 20px;
  width: 20px;
}
#help {
  float: right;
  margin-right: 10%;
  background-color: LightGray;
  border: 3px outset White;
}
#indicatorBar {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#prevArrow {
}
#nextArrow {
}
#containerOne, #containerTwo, #selectWord {
  font-size: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
#partOne, #partTwo {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px solid LightSteelBlue;
  border-collapse: collapse;
}
#partOne td {
  width: 42%;
  border-bottom: 3px solid LightSteelBlue;
  border-collapse: collapse;
  padding: 5px;
}
#partOne .TC {
  width: 58%;
}
#partTwo td {
  text-align: left;
}
.instructions {
  padding-left: 10%;
  color: Green;
}
#keywordHolder {
  padding-left: 25px;
}
.optionHolder {
  width: 100%;
  background-color: LightGray;
  border: 3px outset White;
  padding: 5px;
  padding-left: 20px;
  font-size: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.indicator {
  width: 9%;
  background-color: White;
  border: 5px solid LightSteelBlue;
  text-align: center;
  cursor: pointer;
}
#containerThree {
  text-align: center;
}
#result {
  width: 15%;
  object-fit: scale-down;
}
#containerThree {
  position: relative;
}
#prevArrow {
  position: absolute;
  top: 0px;
  left: 10%;
}
#nextArrow {
  position: absolute;
  top: 0px;
  right: 10%;
}
@media screen and (max-width: 1199px) {
  body {
    background-color:rgb(168,240,247);
  }
  #menuBar {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: LightSteelBlue;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
  }
  #menuBarTop {
    padding-left: 5%;
  }
  #menuBar select, #menuBar button {
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
  }
  #partOneBtn, #partTwoBtn {
    width: 20%;
    background-color: LightGray;
    border: 3px outset White;
  }
  #trans {
    margin-left: 30px;
    height: 20px;
    width: 20px;
  }
  #help {
    float: right;
    margin-right: 5%;
    background-color: LightGray;
    border: 3px outset White;
  }
  #indicatorBar {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
  #containerThree {
    position: relative;
  }
  #prevArrow {
    position: absolute;
    top: 0px;
    left: 4%;
  }
  #nextArrow {
    position: absolute;
    top: 0px;
    right: 4%;
  }
  #containerOne, #containerTwo, #selectWord {
    font-size: 4.7vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }
  #partOne, #partTwo {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px solid LightSteelBlue;
    border-collapse: collapse;
  }
  #partOne td {
    width: 42%;
    border-bottom: 3px solid LightSteelBlue;
    border-collapse: collapse;
    padding: 10px;
  }
  #partOne .TC {
    width: 58%;
  }
  #partTwo td {
    text-align: left;
  }
  .instructions {
    padding-left: 25px;
    color: Green;
  }
  #keywordHolder {
    padding-left: 25px;
  }
  .optionHolder {
    width: 100%;
    background-color: LightGray;
    border: 3px outset White;
    padding: 10px;
    padding-left: 20px;
    font-size: 4.7vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }
  .indicator {
    width: 9%;
    background-color: White;
    border: 5px solid LightSteelBlue;
    text-align: center;
    cursor: pointer;
  }
  #containerThree {
    text-align: center;
  }
  #result {
    width: 50%;
    object-fit: scale-down;
  }
}
